In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("WHO COVID-19 global table data July 8th 2021 at 7.05.52 PM.csv",sep=',')

In [3]:
df

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
0,Global,NaN,184820132,2371.148567,2857227,36.656773,484439,4002209,51.346312,55526,0.71237,9391,NaN
1,United States of America,Americas,33429396,10099.430000,96394,29.120000,36990,600930,181.550000,1518,0.46000,473,Community transmission
2,India,South-East Asia,30709557,2225.320000,297923,21.590000,45892,405028,29.350000,5569,0.40000,817,Clusters of cases
3,Brazil,Americas,18855015,8870.470000,341710,160.760000,62504,526892,247.880000,10907,5.13000,1780,Community transmission
4,Russian Federation,Europe,5707452,3910.970000,169310,116.020000,24818,140775,96.460000,4889,3.35000,734,Clusters of cases
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
234,Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
235,Tonga,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
236,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases
237,Tuvalu,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.00000,0,No cases

In [4]:
new_mbusa=df.loc[(df['WHO Region']=='Americas')]
new_mbusa

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
1,United States of America,Americas,33429396,10099.43,96394,29.12,36990,600930,181.55,1518,0.46,473,Community transmission
3,Brazil,Americas,18855015,8870.47,341710,160.76,62504,526892,247.88,10907,5.13,1780,Community transmission
8,Argentina,Americas,4574340,10121.17,126639,280.20,21590,96983,214.58,3315,7.33,462,Community transmission
9,Colombia,Americas,4402582,8652.38,189508,372.44,26721,110019,216.22,4085,8.03,553,Community transmission
15,Mexico,Americas,2549862,1977.67,36698,28.46,7989,233958,181.46,1155,0.90,269,Community transmission
19,Peru,Americas,2069051,6275.20,16986,51.52,2374,193588,587.13,1257,3.81,199,Community transmission
22,Chile,Americas,1576336,8246.07,20434,106.89,1871,33328,174.34,783,4.10,40,Community transmission
24,Canada,Americas,1418080,3757.28,3344,8.86,441,26381,69.90,108,0.29,13,Community transmission
46,Ecuador,Americas,465029,2635.76,6525,36.98,1078,21728,123.15,168,0.95,20,Community transmission
48,Bolivia (Plurinational State of),Americas,448213,3839.73,10590,90.72,1851,17013,145.75,311,2.66,28,Community transmission
49,Paraguay,Americas,431367,6047.88,9778,137.09,1483,13553,190.02,790,11.08,106,Community transmission
53,Panama,Americas,410004,9502.34,7423,172.04,1276,6591,152.75,55,1.27,8,Community transmission
55,Costa Rica,Americas,375812,7377.37,9651,189.45,1488,4740,93.05,79,1.55,14,Community transmission
56,Uruguay,Americas,374019,10767.07,5841,168.15,733,5735,165.10,177,5.10,24,Community transmission
62,Dominican Republic,Americas,330941,3050.74,5720,52.73,697,3870,35.68,48,0.44,4,Community transmission
63,Guatemala,Americas,308273,1720.70,14690,82.00,2954,9573,53.43,358,2.00,25,Community transmission
68,Venezuela (Bolivarian Republic of),Americas,279813,984.01,8134,28.60,1148,3222,11.33,121,0.43,13,Community transmission
72,Honduras,Americas,270020,2726.21,7951,80.28,1020,7149,72.18,169,1.71,20,Community transmission
79,Cuba,Americas,214577,1894.45,23584,208.22,3664,1405,12.40,121,1.07,18,Community transmission
89,Puerto Rico,Americas,140412,4908.05,386,13.49,6,2552,89.20,3,0.10,0,Community transmission
108,El Salvador,Americas,80235,1237.01,1469,22.65,0,2420,37.31,39,0.60,6,Community transmission
115,Jamaica,Americas,50456,1703.92,332,11.21,52,1101,37.18,26,0.88,5,Community transmission
124,Trinidad and Tobago,Americas,33805,2415.53,1277,91.25,250,903,64.52,70,5.00,4,Community transmission
129,French Guiana,Americas,27996,9373.18,460,154.01,0,154,51.56,9,3.01,0,Community transmission
134,Suriname,Americas,22581,3849.26,1062,181.03,116,552,94.10,36,6.14,4,Community transmission
136,Guyana,Americas,20568,2614.96,609,77.43,179,482,61.28,14,1.78,4,Community transmission
139,Haiti,Americas,19172,168.14,435,3.81,0,467,4.10,24,0.21,0,Community transmission
141,Guadeloupe,Americas,17684,4419.63,145,36.24,0,270,67.48,3,0.75,0,Community transmission
150,Belize,Americas,13409,3372.25,182,45.77,18,330,82.99,1,0.25,0,Community transmission
151,Bahamas,Americas,12965,3296.94,266,67.64,76,252,64.08,6,1.53,1,Clusters of cases
153,Martinique,Americas,12396,3303.27,110,29.31,0,98,26.11,0,0.00,0,Community transmission
154,CuraÃ§ao,Americas,12350,7526.22,11,6.70,1,126,76.79,0,0.00,0,Community transmission
157,Aruba,Americas,11144,10437.78,9,8.43,0,107,100.22,0,0.00,0,Community transmission
166,Nicaragua,Americas,6819,102.94,215,3.25,0,192,2.90,1,0.02,0,Community transmission
173,Saint Lucia,Americas,5363,2920.59,71,38.67,37,85,46.29,1,0.54,0,Community transmission
178,Barbados,Americas,4108,1429.49,27,9.40,17,47,16.35,0,0.00,0,Community transmission
181,United States Virgin Islands,Americas,3942,3774.96,84,80.44,0,32,30.64,2,1.92,2,Community transmission
184,Sint Maarten,Americas,2630,6133.11,16,37.31,3,34,79.29,1,2.33,1,Community transmission
186,Bermuda,Americas,2521,4048.30,7,11.24,1,33,52.99,0,0.00,0,Sporadic cases
187,Turks and Caicos Islands,Americas,2425,6263.24,0,0.00,0,18,46.49,0,0.00,0,Clusters of cases
188,Saint Martin,Americas,2420,6259.86,53,137.10,0,29,75.01,2,5.17,0,Community transmission
193,Saint Vincent and the Grenadines,Americas,2240,2019.11,15,13.52,0,12,10.82,0,0.00,0,Community transmission
196,Bonaire,Americas,1626,7774.32,4,19.13,0,17,81.28,0,0.00,0,Community transmission
197,Antigua and Barbuda,Americas,1265,1291.75,2,2.04,0,42,42.89,0,0.00,0,Clusters of cases
198,Saint BarthÃ©lemy,Americas,1046,10581.69,3,30.35,0,1,10.12,0,0.00,0,Clusters of cases
201,British Virgin Islands,Americas,793,2622.61,480,1587.46,0,1,3.31,0,0.00,0,Community transmission
203,Cayman Islands,Americas,615,935.79,1,1.52,1,2,3.04,0,0.00,0,Sporadic cases
204,Saint Kitts and Nevis,Americas,517,971.95,74,139.12,2,3,5.64,0,0.00,0,Community transmission
208,Dominica,Americas,197,273.65,4,5.56,0,0,0.00,0,0.00,0,Clusters of cases
210,Grenada,Americas,162,143.97,0,0.00,0,1,0.89,0,0.00,0,Sporadic cases
212,Anguilla,Americas,111,739.90,2,13.33,0,0,0.00,0,0.00,0,Sporadic cases
213,Falkland Islands (Malvinas),Americas,60,1722.65,0,0.00,0,0,0.00,0,0.00,0,No cases
216,Saint Pierre and Miquelon,Americas,26,448.66,0,0.00,0,0,0.00,0,0.00,0,Sporadic cases
217,Montserrat,Americas,20,400.08,0,0.00,0,1,20.00,0,0.00,0,No cases
218,Sint Eustatius,Americas,20,637.15,0,0.00,0,0,0.00,0,0.00,0,No cases
220,Saba,Americas,7,362.13,0,0.00,0,0,0.00,0,0.00,0,No cases

In [5]:
new_mbusa.head()

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
1,United States of America,Americas,33429396,10099.43,96394,29.12,36990,600930,181.55,1518,0.46,473,Community transmission
3,Brazil,Americas,18855015,8870.47,341710,160.76,62504,526892,247.88,10907,5.13,1780,Community transmission
8,Argentina,Americas,4574340,10121.17,126639,280.20,21590,96983,214.58,3315,7.33,462,Community transmission
9,Colombia,Americas,4402582,8652.38,189508,372.44,26721,110019,216.22,4085,8.03,553,Community transmission
15,Mexico,Americas,2549862,1977.67,36698,28.46,7989,233958,181.46,1155,0.90,269,Community transmission

In [6]:
new_mbusa.tail()

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
213,Falkland Islands (Malvinas),Americas,60,1722.65,0,0.0,0,0,0.0,0,0.0,0,No cases
216,Saint Pierre and Miquelon,Americas,26,448.66,0,0.0,0,0,0.0,0,0.0,0,Sporadic cases
217,Montserrat,Americas,20,400.08,0,0.0,0,1,20.0,0,0.0,0,No cases
218,Sint Eustatius,Americas,20,637.15,0,0.0,0,0,0.0,0,0.0,0,No cases
220,Saba,Americas,7,362.13,0,0.0,0,0,0.0,0,0.0,0,No cases

In [7]:
new_mbusa.describe()

,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
count,5.600000e+01,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,1.308872e+06,4089.820893,16953.767857,92.195000,3189.839286,34411.107143,77.013750,460.053571,1.581071,73.142857
std,5.106454e+06,3304.720199,54830.205019,218.058399,10440.116521,111939.915985,95.449194,1604.636197,2.417386,260.782907
min,7.000000e+00,102.940000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.086500e+03,1395.055000,8.500000,8.752500,0.000000,17.750000,11.202500,0.000000,0.000000,0.000000
50%,1.554650e+04,3173.840000,299.000000,33.295000,4.500000,261.000000,53.210000,3.000000,0.450000,0.000000
75%,3.417105e+05,6266.230000,7555.000000,95.160000,1095.500000,5949.000000,93.312500,121.000000,1.940000,15.000000
max,3.342940e+07,10767.070000,341710.000000,1587.460000,62504.000000,600930.000000,587.130000,10907.000000,11.080000,1780.000000

In [8]:
new_mbusa.dtypes

Name                                                             object
WHO Region                                                       object
Cases - cumulative total                                          int64
Cases - cumulative total per 100000 population                  float64
Cases - newly reported in last 7 days                             int64
Cases - newly reported in last 7 days per 100000 population     float64
Cases - newly reported in last 24 hours                           int64
Deaths - cumulative total                                         int64
Deaths - cumulative total per 100000 population                 float64
Deaths - newly reported in last 7 days                            int64
Deaths - newly reported in last 7 days per 100000 population    float64
Deaths - newly reported in last 24 hours                          int64
Transmission Classification                                      object
dtype: object

In [9]:
new_mbusa['WHO Region'].value_counts().to_frame()

          WHO Region
Americas          56

In [10]:
new_mbusa.shape

(56, 13)

In [11]:
new_mbusa['Transmission Classification'].value_counts().to_frame()

                        Transmission Classification
Community transmission                           42
Sporadic cases                                    5
Clusters of cases                                 5
No cases                                          4

In [20]:
subsetdata_set = new_mbusa[['Name','Cases - cumulative total','Deaths - cumulative total']]
subsetdata_set.head()

,Name,Cases - cumulative total,Deaths - cumulative total
1,United States of America,33429396,600930
3,Brazil,18855015,526892
8,Argentina,4574340,96983
9,Colombia,4402582,110019
15,Mexico,2549862,233958

In [23]:
sorteddata_set = subsetdata_set.sort_values(by=['Deaths - cumulative total'],
                                          ascending= False)
sorteddata_set.head()

,Name,Cases - cumulative total,Deaths - cumulative total
1,United States of America,33429396,600930
3,Brazil,18855015,526892
15,Mexico,2549862,233958
19,Peru,2069051,193588
9,Colombia,4402582,110019

In [25]:
sorteddata_set.tail()

,Name,Cases - cumulative total,Deaths - cumulative total
212,Anguilla,111,0
213,Falkland Islands (Malvinas),60,0
216,Saint Pierre and Miquelon,26,0
218,Sint Eustatius,20,0
220,Saba,7,0

In [26]:
subsetdata_set = new_mbusa[['Name','Cases - newly reported in last 24 hours','Deaths - newly reported in last 24 hours']]
subsetdata_set.head()

,Name,Cases - newly reported in last 24 hours,Deaths - newly reported in last 24 hours
1,United States of America,36990,473
3,Brazil,62504,1780
8,Argentina,21590,462
9,Colombia,26721,553
15,Mexico,7989,269

In [27]:
subsetdata_set.tail()

,Name,Cases - newly reported in last 24 hours,Deaths - newly reported in last 24 hours
213,Falkland Islands (Malvinas),0,0
216,Saint Pierre and Miquelon,0,0
217,Montserrat,0,0
218,Sint Eustatius,0,0
220,Saba,0,0

In [28]:
subsetdata_set = new_mbusa[['Name','Cases - newly reported in last 24 hours','Transmission Classification']]
subsetdata_set.head()

,Name,Cases - newly reported in last 24 hours,Transmission Classification
1,United States of America,36990,Community transmission
3,Brazil,62504,Community transmission
8,Argentina,21590,Community transmission
9,Colombia,26721,Community transmission
15,Mexico,7989,Community transmission

In [31]:
sorteddata_set = subsetdata_set.sort_values(by=['Cases - newly reported in last 24 hours'],
                                          ascending= False)
sorteddata_set.head()

,Name,Cases - newly reported in last 24 hours,Transmission Classification
3,Brazil,62504,Community transmission
1,United States of America,36990,Community transmission
9,Colombia,26721,Community transmission
8,Argentina,21590,Community transmission
15,Mexico,7989,Community transmission